 body {width: 100%;}
body {

    /*!*background: #e2e2e2 url(images/background.jpg) repeat;*!*/
    /*padding-top: 100px;*/
    /*!*position:absolute;*!*/
    /*margin-top: 100px;*/
    /*!*position: inherit;*!*/
    /*text-decoration: none;*/
    background-color: #faf2cc;
    /*代码设置网页比例*/
    leftmargin:25% ;
    topmargin:25% ;
    background-color: #3498DB ;
    position: relative;
    display: inline;



}
/*session之间距离*/
.session_juli{
    margin-top: 100px;
}
/*导航栏高度*/
.nav_hight{
    height:70px;
    font-size: 20px;
    text-align: center;


    background-color: #faf2cc;


}



/*导航栏分界线*/
#nav_id{
    height: 100px;
    text-align: center;
   width: 100%;


}
/*登陆按钮*/
#login{
    margin-left: 90%;
    margin-top: px;
    float: right;
}


/*设置导航栏是蓝色的*/
.menu-item-0001:hover{

    border-top: 4px solid #5FB878;

}
 .nav_bg:hover{
     background-color:#faf2cc ;
 }

/*设置导航栏目间距*/
.menu-item-0001{
    background-color: #faf2cc;
    text-align: center;
    padding-top: 10px;
    text-align: center;



}
 /*LOGO*/
 #sessionlogo{
     text-align: center;
     height: 50px;
     width: auto;
     margin-top: -25px;
 }


/*设置自我介绍 外边框*/
.bodyset{

    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius:5px;
    border: solid  1px black;
    margin-bottom: 2px;
    background-color: white;
}


#section1{

    margin-top: 100px;

    text-align: center;
    height: 250px;
    width: 100%;
    /*border: solid 1px blue;*/
}
/*logo左边*/
/*#section1_left{*/
    /*height: 400px;*/
    /*width: 30%;*/
    /*border: solid yellow;*/

/*}*/
 /*logo中间*/
 /*#section1_top{*/

     /*font-family: 楷体;*/
     /*font-size: 20px;*/
     /*height: 400px;*/
     /*width: 100%;*/
     /*!*border: solid blue  ;*!*/

 /*}*/
 .session1_panle:hover{

     border: solid 1px blue;


 }
/*logo右边*/
/*#section1_right{*/
    /*height: 400px;*/
    /*width: 30%;*/

    /*border: 1px solid red;*/
/*}*/


/*轮播图外框*/
 #section2{
     padding-bottom: 70px;
     margin-top: 100px;
     height:550px;
     width: 100%;

 }
 #section2:hover{

     border: solid blue 1px;
 }
 #section2_top{
     margin-top: 50px;
     padding-top: 5px;
    font-size: 30px;
     height: 50px;
     border: solid red;
 }
 #section2_left{

     height: 550px;
     /*border: solid yellow;*/
 }
 #section2_left:hover{


     border-right: 1px solid #007DDB;
 }
 #section2_right:hover{


     border-left: 1px solid #007DDB;
 }
 #section2_right{

     float: right;
     height:550px;
     width: 30%;

 }
 /*设置轮播图片宽高*/
 .carousel-inner img {
     width: auto;
     height: 550px;
 }
 /*技能清单布局*/
 #section3{


     height:500px;
     width: 100%;
     /*border: solid black;*/
 }
 #section3 :hover{



     border: solid 1px blue;
 }
 #section3_top{
     font-size: 30px;
     height: 100px;
     /*border: 1px solid #8a6d3b;*/
     text-align: center;
 }
 #section3_top:hover{
     border-top: 0px;
 }
 #section3_buttom:hover{
     border-bottom: 0px;
 }
 #section3_buttom{
     /*border: 1px solid blue;*/

     text-align: center;
     height: 400px;
 }
 /*技能清单div*/
.session_button_div_size{

    margin-left: 10%;
    margin-right: 10%;

    height: 75px;
    width: 100px;
}
 #section4{
     margin-top: 170px;

    border: solid whitesmoke;

 }
 /*底部导航栏大小*/
 /*#nav_bottom{*/
     /*height: 500px;*/
     /*width: 100%;*/
     /*border: solid black;*/
 /*}*/
 /*底部导航栏大小*/
 #nav_bottom{
     height: 200px;
     width: 100%;
     /*border: 1px solid yellow;*/



 }
 /*底部导航栏大小中间*/
 #nav_bottom_left{


     font-family: 幼圆;
     font-size: 20px;
     height: 200px;
     width: 100%;
     /*border: solid blue  ;*/
 }

 /*底部导航栏大小右边*/
 /*#nav_bottom_right{*/
     /*height: 200px;*/
     /*width: 0px;*/
     /*margin-left: 50%;*/

     /*text-align: center;*/

 /*}*/


 #JYQ{
     text-align: center;
     height: 60px;
     width: auto;
     margin-top: 10px;
     margin-left: 35px;

 }
