<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>东东博客</title>
    <link rel="icon" href="images/4.png" sizes="32x32">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        document.oncontextmenu = new Function("return false;");
        function fuckyou(){
            window.close(); //关闭当前窗口(防抽)
            window.location="about:blank"; //将当前窗口跳转置空白页
        }
        function ck() {
            console.profile();
            console.profileEnd();
            //我们判断一下profiles里面有没有东西，如果有，肯定有人按F12了，没错！！
            if(console.clear) { console.clear() };
            if (typeof console.profiles =="object"){
                return console.profiles.length > 0;
            }
        }
        function hehe(){
            if( (window.console && (console.firebug || console.table && /firebug/i.test(console.table()) )) || (typeof opera == 'object' && typeof opera.postError == 'function' && console.profile.length > 0)){
                fuckyou();
            }
            if(typeof console.profiles =="object"&&console.profiles.length > 0){
                fuckyou();
            }
        }
        hehe();
        window.onresize = function(){
            if((window.outerHeight-window.innerHeight)>200)
//判断当前窗口内页高度和窗口高度，如果差值大于200，那么呵呵
                fuckyou();
        }
    </script>


</head>
<body>
<div class="container mt-3">
    <div style="margin-top: 70px;background-color:wheat" class="panel panel-info col-lg-8">



        <div class="media border p-3">
            <img src="https://static.runoob.com/images/mobile-icon.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">

                <h4>菜鸟教程</h4>
                <h6 >学的不仅是技术，更是梦想！！！</h6>
            </div>
        </div>
    </div>

</div>


</body>
</html>

<!-- 你的HTML代码 -->

<script src="js/layui.all.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        // layer.msg('Hello World');
    });
</script>
</body>
</html>
