<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用layui</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style1.css">
    <script type="text/javascript" src="js/menu.js"></script>







    <script type="text/javascript" src="js/jquery.min.js"></script>


</head>

<body>
<div th:insert="~{nav.html }"></div>
<div class="container ">


    <div style="margin-top: 70px;" class="panel panel-info col-lg-10" >

        <section class="cd-horizontal-timeline">
            <div class="timeline">
                <div class="events-wrapper">
                    <div class="events">
                        <ol>
                            <li><a href="#0" data-date="16/03/2020" class="selected" style="font-size: 15px">16 Mar</a></li>
                            <li><a href="#0" data-date="28/03/2020" style="font-size: 15px">28 Mar</a></li>
                            <li><a href="#0" data-date="20/04/2020" style="font-size: 15px">20 Apr</a></li>

                        </ol>

                        <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                </div> <!-- .events-wrapper -->

                <ul class="cd-timeline-navigation">
                    <li><a href="#0" class="prev inactive">Prev</a></li>
                    <li><a href="#0" class="next">Next</a></li>
                </ul> <!-- .cd-timeline-navigation -->
            </div> <!-- .timeline -->

            <div class="events-content">
                <ol>
                    <li class="selected" data-date="16/03/2020">
                        <h2 style="font-size: 35px">启航</h2>
                        <em style="font-size: 27px">March 20th, 2020</em>
                        <p style="font-size: 20px">
                            仅是开始，远不止如此！
                        </p>
                    </li>

                    <li data-date="28/03/2020">
                        <h2 style="font-size: 35px">上线</h2>
                        <em style="font-size: 27px">March 28th, 2020</em>
                        <p style="font-size: 20px">
                            很简单，但又不简单。
                        </p>
                    </li>

                    <li data-date="20/04/2020">
                        <h2 style="font-size: 35px">更新</h2>
                        <em style="font-size: 27px">April 20th, 2020</em>
                        <p style="font-size: 20px">
                            只是多了个小功能，离完美又近了一步。
                        </p>
                    </li>


                </ol>
            </div> <!-- .events-content -->
        </section>




    </div>
</div>
</body>
<script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="js/jquery.mobile.custom.min.js"></script>
<script src="js/main.js"></script>
<script src="js/layui.all.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        // layer.msg('Hello World');
    });

</script>

</html>


