<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>东东博客</title>
	<link rel="icon" href="images/4.png" sizes="32x32">
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<!--必要样式-->
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<!--[if IE]>
	<script src="js/html5.js"></script>
	<![endif]-->
	<script>
		document.oncontextmenu = new Function("return false;");
		function fuckyou(){
			window.close(); //关闭当前窗口(防抽)
			window.location="about:blank"; //将当前窗口跳转置空白页
		}
		function ck() {
			console.profile();
			console.profileEnd();
			//我们判断一下profiles里面有没有东西，如果有，肯定有人按F12了，没错！！
			if(console.clear) { console.clear() };
			if (typeof console.profiles =="object"){
				return console.profiles.length > 0;
			}
		}
		function hehe(){
			if( (window.console && (console.firebug || console.table && /firebug/i.test(console.table()) )) || (typeof opera == 'object' && typeof opera.postError == 'function' && console.profile.length > 0)){
				fuckyou();
			}
			if(typeof console.profiles =="object"&&console.profiles.length > 0){
				fuckyou();
			}
		}
		hehe();
		window.onresize = function(){
			if((window.outerHeight-window.innerHeight)>200)
//判断当前窗口内页高度和窗口高度，如果差值大于200，那么呵呵
				fuckyou();
		}
	</script>
</head>
<body>
<div class="container demo-1">
	<div class="content">
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			<div class="logo_box">
				<h3>欢迎你</h3>
				<form action="#" name="f" method="post">
					<div class="input_outer">
						<span class="u_user"></span>
						<input name="u" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">
					</div>
					<div class="input_outer">
						<span class="us_uer"></span>
						<input name="p" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
					</div>
					<div class="mb2"><button class="act-but submit" type="submit" style="color: #FFFFFF">登录</button></div>
				</form>
			</div>
		</div>
	</div>
</div><!-- /container -->
<script src="js/TweenLite.min.js"></script>
<script src="js/EasePack.min.js"></script>
<script src="js/rAF.js"></script>
<script src="js/demo-1.js"></script>
<div style="text-align:center;">
</div>
</body>
</html>