<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>东东博客</title>
    <link rel="icon" href="images/4.png" sizes="32x32">
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
    <meta http-equiv="Content-Type" content="text/html">

    <meta name="author" content="Jake Rocheleau">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style1.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/layui.js"></script>

</head>

<body style="background-image: url(/images/spring.jpg)">
<div>


    <ul class="layui-nav" style="position: fixed;top: 0;z-index: 9997">
        <li class="layui-nav-item" style="margin-left: 100px"><a href="/nav">首页</a></li>
        <li class="layui-nav-item" ><a href="/">博客内容</a></li>


        <li th:if="${ null != session.user}" class="layui-nav-item"><a href="/manage">后台</a></li>
        <li class="layui-nav-item" lay-unselect="" >



            <ul>

                <li th:if="${ null != session.user}">
                    <a th:text="${session.user.getUsername() }">aa</a>

                    <dl class="layui-nav-child">
                        <dd><a href="/publish">添加博文</a></dd>
                        <dd><a href="/profile/questions">我发起的</a></dd>
                        <dd><a href="javascript:;">安全管理</a></dd>
                        <dd><a href="javascript:;">退了</a></dd>
                    </dl>
                </li>
                <li th:if="${session.user == null}">
                    <a href="/login">登陆/后台</a>
                </li>

            </ul>







        </li>

        <li class="layui-nav-item" style="text-align: right;float: right">
            <div  style="font-size: 15px;width: 300px;margin-left: 150px;font-size: 13px">访问量：<span
                    th:text="${session.fangwenliang}">default message</span>

                <span id="runtime_span"></span>
                <script type="text/javascript">function show_runtime() {
                    window.setTimeout("show_runtime()", 1000);
                    X = new Date("3/28/2020 0:00:00");
                    Y = new Date();
                    T = (Y.getTime() - X.getTime());
                    M = 24 * 60 * 60 * 1000;
                    a = T / M;
                    A = Math.floor(a);
                    b = (a - A) * 24;
                    B = Math.floor(b);
                    c = (b - B) * 60;
                    C = Math.floor((b - B) * 60);
                    D = Math.floor((c - C) * 60);
                    runtime_span.innerHTML = "本站运行: " + A + "天" + B + "小时" + C + "分" + D + "秒"
                }

                show_runtime();</script>
            </div>
        </li>
    </ul>


    <div id="pgcontainer">

        <div id="navbar">
            <li class="layui-nav-item">  <a href="#" class="menubtn " style="position: fixed;top: 0;position: fixed;top: 0;z-index: 9998">MENU</a></li>
            <!-- use captain icon for toggle menu -->
            <div id="hamburgermenu">
                <ul style="z-index: 9999">
                    <li><a href="/nav">首页</a></li>
                    <li><a href="/">学习笔记</a></li>
                    <li><a href="/index4">时光轴</a></li>
                    <li><a href="/persion">个人介绍</a></li>
                    <li><a href="#">致谢</a></li>
                </ul>
            </div>
        </div>
        <div class="overlay"></div>



    </div>
</div>

</body>


<!-- 你的HTML代码 -->

<script src="/js/layui.all.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        // layer.msg('Hello World');
    });
</script>

</html>
