<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用layui</title>
    <link rel="stylesheet" href="css/layui.css">

</head>
<body>
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="gb2312">
    <meta http-equiv="Content-Type" content="text/html">
    <title>jquery网站左侧弹出导航菜单 - 站长素材</title>
    <meta name="author" content="Jake Rocheleau">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>

</head>

<body>
<div>


<ul class="layui-nav" style="position: fixed;top: 0;">
    <li class="layui-nav-item" style="margin-left: 100px"><a href="">最新活动</a></li>
    <li class="layui-nav-item"><a href="">最新活动</a></li>
    <li class="layui-nav-item"><a href="">最新活动</a></li>

    <li class="layui-nav-item layui-this"><a href="">产品</a></li>
    <li class="layui-nav-item"><a href="">大数据</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">社区</a></li>
    <li class="layui-nav-item" lay-unselect="" >
        <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="javascript:;">退了</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <div style="margin-left: 20px;padding-top: 13px">

            <ul>

                <li th:if="${ null != session.user}">

                    <a th:text="${session.user.getUsername() }">aa</a>

                    </a>

                </li>

                <li th:if="${session.user == null}">
                    <a href="/login">登陆</a>
                </li>

            </ul>
        </div>
    </li>
    <li class="layui-nav-item">
        <div id="J1YQ" style="font-size: 15px;width: 300px;margin-left: 150px;font-size: 13px">访问量：<span
                th:text="${message}">default message</span>

            <span id="runtime_span"></span>
            <script type="text/javascript">function show_runtime() {
                window.setTimeout("show_runtime()", 1000);
                X = new Date("3/28/2020 0:00:00");
                Y = new Date();
                T = (Y.getTime() - X.getTime());
                M = 24 * 60 * 60 * 1000;
                a = T / M;
                A = Math.floor(a);
                b = (a - A) * 24;
                B = Math.floor(b);
                c = (b - B) * 60;
                C = Math.floor((b - B) * 60);
                D = Math.floor((c - C) * 60);
                runtime_span.innerHTML = "本站勉强运行: " + A + "天" + B + "小时" + C + "分" + D + "秒"
            }

            show_runtime();</script>
        </div>
    </li>
</ul>


<div id="pgcontainer">

        <div id="navbar">
            <li class="layui-nav-item">  <a href="#" class="menubtn " style="position: fixed;top: 0;">MENU</a></li>
            <!-- use captain icon for toggle menu -->
            <div id="hamburgermenu">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">学习日志</a></li>
                    <li><a href="#">Log</a></li>
                    <li><a href="#">学习经历</a></li>
                    <li><a href="#">致谢</a></li>
                </ul>
            </div>
        </div>
        <div class="overlay"></div>



</div>
</div>
</body>
</html>

<!-- 你的HTML代码 -->

<script src="js/layui.all.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        layer.msg('Hello World');
    });
</script>
</body>
</html>
