<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bootstrap 模板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="user-scalable=0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <!--<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>-->
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/layui.css">
    <script src="js/layui.all.js"></script>
    <!--引入时间轴-->
    <link href='https://fonts.useso.com/css?family=Playfair+Display:700,900|Fira+Sans:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <!--<script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>-->
    <script src="js/jquery.mobile.custom.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/community.js"></script>
    <script src="js/layui.all.js"></script>

    <style>
        body{
            background-image:url("images/bg.jpg");
            background-repeat:no-repeat;
            background-size:100% 100%;
            -moz-background-size:100% 100%;
            z-index: 10000;
        }

         body{
             margin: 0px;
             padding: 0px;
         }
        #bg{
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: absolute;
        }

    </style>


</head>






<body  data-spy="scroll" data-target=".navbar" data-offset="50"  background="/images/background.jpg"  >

    <div class="container nav2" >
        <div th:fragment="navhear"  >

    <nav  class="nav_hight  navbar-fixed-top   " >


        <div class="navbar-collapse collapse " role="navigation" >
            <div id="nav_id">
                <ul  class="nav navbar-nav ">

                    <li ><div id="JYQ" style="font-size: 18px;width: 100px;float: left">来一杯Java</div></li>
                    <li class="menu-item-0001" style="margin-left: 100px  "><a class="navbar-link" style="background-color:#faf2cc" href="#section1" ><img id="sessionlogo" src="images/4.png" alt="Third slide"></a> </li>
                    <li class="menu-item-0001" ><a  class="nav_bg navbar-link" style="background-color:#faf2cc" href="#section1">自我介绍</a> </li>
                    <li class="menu-item-0001"><a class="navbar-link" style="background-color:#faf2cc" href="#section2">项目展示</a></li>
                    <li class="menu-item-0001"><a class="navbar-link" style="background-color:#faf2cc" href="#section3">学习笔记</a></li>
                    <!--<li class="menu-item-0001"><a class="navbar-link" style="background-color:#faf2cc" href="#section4">职业规划</a></li>-->
                    <li class="menu-item-0001"><a class="navbar-link" style="background-color:#faf2cc" href="#section4">时间轴</a></li>
                    <li class="menu-item-0001"><a class="navbar-link" style="background-color:#faf2cc" href="#section5">致谢</a></li>

                    <li class="menu-item-0001" >
                        <div  style="margin-left: 20px;padding-top: 13px">

                            <ul >

                                <li  th:if="${ null != session.user}">

                                    <span th:text="${session.user.getUsername() }">aa</span>

                                    </a>

                                </li>

                                <li th:if="${session.user == null}">
                                    <a href="/login">登陆</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li ><div id="J1YQ" style="font-size: 15px;width: 300px;margin-left: 150px;">访问量：<span th:text="${message}">default message</span><hr/><span id="runtime_span"></span>
                        <script type="text/javascript">function show_runtime(){window.setTimeout("show_runtime()",1000);
                            X=new Date("3/28/2020 0:00:00");
                            Y=new Date();T=(Y.getTime()-X.getTime());M=24*60*60*1000;
                            a=T/M;A=Math.floor(a);b=(a-A)*24;B=Math.floor(b);c=(b-B)*60;C=Math.floor((b-B)*60);D=Math.floor((c-C)*60);
                            runtime_span.innerHTML="本站勉强运行: "+A+"天"+B+"小时"+C+"分"+D+"秒"}show_runtime();</script> </div></li>


                </ul>
            </div>

            </div>



    </nav>
    <div  class="container "  >


        <div id="section1" class="container-fluid" >


            <div style="padding: 20px; ">
                <div class="layui-row layui-col-space15" style="margin-right: 10px">
                    <div class="layui-col-md6 session1_panle">
                        <div class="layui-card-header" style="text-align: left;font-size: 20px"><h6>个人信息</h6></div>
                        <div class="layui-card-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success" style="text-align: left">个人信息 : 毛晨东/男/21</li>
                                <li class="list-group-item list-group-item-info"  style="text-align: left">学习经历：专科/山东现代学院/计算机应用技术</li>
                                <li class="list-group-item list-group-item-warning" style="text-align: left">联系方式：18240668864/18240668864@163.com</li>
                                <li class="list-group-item list-group-item-danger" style="text-align: left">期望岗位：Java程序员/8k/杭州</li>
                                <li class="list-group-item list-group-item-success" style="text-align: left">到岗时间 : 随时</li>

                            </ul>
                        </div>
                    </div>

                    <div class="layui-col-md6 session1_panle" >
                        <div class="layui-card-header" style="text-align: left;font-size: 20px"><h6>技能清单</h6></div>
                        <div class="layui-card-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success" style="text-align: left">学习语言：熟悉掌握Java及面向对象的编程思想。</li>
                                <li class="list-group-item list-group-item-info"  style="text-align: left">Web框架：Mybatis/Spring/SpringMVC/SpringBoot。</li>
                                <li class="list-group-item list-group-item-warning" style="text-align: left">数据库：掌握MySQL基本语法，了解事务隔离级别及常用锁。</li>
                                <li class="list-group-item list-group-item-danger" style="text-align: left">前端框架：BootStrap/Layui/JavaScript/jQuery/Ajax。</li>
                                <li class="list-group-item list-group-item-success" style="text-align: left">网络传输：了解Http/TCP/Socket编程。</li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id="section2" style="text-align: center">

            <div class="container">
            <!--<div id="section2_top" style="text-align: left">项目展示</div>-->

                <div id="section2_left" class="col-md-8" style="text-align: center" >
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div id="myCarousel" class="carousel slide">
                    <!-- 轮播（Carousel）指标 -->
                         <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                    <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="media-object"  src="images/1.jpg"  alt="...">
                            </div>
                         <div class="item">
                            <img src="images/liaotian.jpg" style="height: 100%;width: 100%" alt="Second slide">
                            </div>
                        <div class="item">
                            <img src="images/JQQD.jpg" style="height: 100%;width: 100%" alt="Third slide">
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                </div>
                <div id="section2_right" class="col-md-4">
                    <br/>
                    <br/>
                    <br/>
                    <br/>


                    <div class="media" title="正在努力开发...">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="images/1.jpg" style="height: 60px;width:60px;" alt="...">
                            </a>
                        </div>
                        <div class="media-body" >
                            <h4 class="media-heading" style="text-align: left">秒杀模块</h4>
                               <h4>开发商品秒杀模块。</h4>
                        </div>
                    </div>
                    <hr/>
                    <div class="media" title="正在努力开发...">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="images/liaotian.jpg " style="height: 60px;width:60px;" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" style="text-align: left">网页聊天室</h4>
                                巩固TCP/IP知识
                        </div>
                    </div>
                    <hr/>
                    <div class="media" title="正在努力开发...">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="images/JQQD.jpg " style="height: 60px;width:60px;" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" style="text-align: left">敬请期待</h4>
                            ...
                        </div>
                    </div>
                </div>


        </div>
            <div></div>




    </div>
        <div id="section3" class="container-fluid">
        <div class="container">
            <div id="section3_top"><br/>日志记录</div>
            <div id="section3_buttom">

                <button type="button" class="btn btn-primary session_button_div_size ">Java</button>
                <button type="button" class="btn btn-primary session_button_div_size ">Jvm</button>

                <button type="button" class="btn btn-primary session_button_div_size">Web</button>
                <hr/>
                <button type="button" class="btn btn-primary  session_button_div_size">OS</button>
                <button type="button" class="btn btn-primary session_button_div_size">DB</button>
                <button type="button" class="btn btn-primary session_button_div_size">ORTHER</button>
            </div>
        </div>
    </div>
        <!--<div id="section5" class="container-fluid">-->
        <!--<div class="container">-->
            <!--<button type="button" class="btn btn-primary">主要按钮</button>-->
        <!--</div>-->
    <!--</div>-->
        <div id="section4" >
            <div  th:insert="~{index4.html }"></div>



        </div>





        </div>
    </div>
    </div>

    </div>

</body>
</html>
<script type="text/javascript">function show_runtime(){window.setTimeout("show_runtime()",1000);X=new Date("12/4/2018 00:00:00");Y=new Date();T=(Y.getTime()-X.getTime());M=24*60*60*1000;a=T/M;A=Math.floor(a);b=(a-A)*24;B=Math.floor(b);c=(b-B)*60;C=Math.floor((b-B)*60);D=Math.floor((c-C)*60);runtime_span.innerHTML="网站已艰难运行"+A+"天"+B+"小时"+C+"分"+D+"秒"}show_runtime();</script>