<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用layui</title>
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body >
<div th:insert="~{nav.html }"></div>
<div id="section1" class="container-fluid" style="margin-top: 70px">


    <div style="padding: 20px; ">
        <div class="layui-row layui-col-space15" style="margin-right: 10px">
            <div class="layui-col-md6 session1_panle">
                <div class="layui-card-header" style="text-align: left;font-size: 20px;color: whitesmoke"><h6>个人信息</h6></div>
                <div class="layui-card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success" style="text-align: left">个人信息 :
                            毛晨东/男/21
                        </li>
                        <li class="list-group-item list-group-item-info" style="text-align: left">
                            教育背景：专科/山东现代学院/计算机应用技术
                        </li>
                        <li class="list-group-item list-group-item-warning" style="text-align: left">
                            联系方式：18240668864/18240668864@163.com
                        </li>
                        <li class="list-group-item list-group-item-danger" style="text-align: left">
                            期望岗位：Java程序员/薪资面议/杭州
                        </li>
                        <li class="list-group-item list-group-item-success" style="text-align: left">到岗时间 :
                            一周内
                        </li>

                    </ul>
                </div>
            </div>

            <div class="layui-col-md6 session1_panle">
                <div class="layui-card-header" style="text-align: left;font-size: 20px;color: whitesmoke"><h6>技能清单</h6></div>
                <div class="layui-card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success" style="text-align: left">
                            学习语言：熟悉掌握Java及面向对象的编程思想。
                        </li>
                        <li class="list-group-item list-group-item-info" style="text-align: left">
                            Web框架：Mybatis/Spring/SpringMVC/SpringBoot。
                        </li>
                        <li class="list-group-item list-group-item-warning" style="text-align: left">
                            数据库：掌握MySQL基本语法，了解事务隔离级别及常用锁。
                        </li>
                        <li class="list-group-item list-group-item-danger" style="text-align: left">
                            前端框架：BootStrap/Layui/JavaScript/jQuery/Ajax。
                        </li>
                        <li class="list-group-item list-group-item-success" style="text-align: left">
                            网络传输：了解Http/TCP/Socket编程。
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="layui-row layui-col-space15" style="margin-right: 10px">
            <div class="layui-col-md6 session1_panle">
                <div class="layui-card-header" style="text-align: left;font-size: 20px;color: whitesmoke"><h6>教育背景</h6></div>
                <div class="layui-card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success" style="text-align: left">毕业院校 :
                            山东现代学院/计算机应用技术/专科
                        </li>
                        <li class="list-group-item list-group-item-info" style="text-align: left">
                           开设课程：操作系统，计算机网络原理，Java，C语言，数据结构，数据库，高等数学，英语等
                        </li>
                        <li class="list-group-item list-group-item-warning" style="text-align: left">
                            联系方式：18240668864/18240668864@163.com
                        </li>
                        <li class="list-group-item list-group-item-danger" style="text-align: left">
                            期望岗位：Java程序员/薪资面议/杭州
                        </li>
                        <li class="list-group-item list-group-item-success" style="text-align: left">到岗时间 :
                            一周内
                        </li>

                    </ul>
                </div>
            </div>

            <div class="layui-col-md6 session1_panle">
                <div class="layui-card-header" style="font-size: 20px;color: whitesmoke"><h6>职业规划</h6></div>
                <div class="layui-card-body">
                    <ul class="list-group">
                        <li>

                            <div th:insert="persion-index4.html" ></div>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>

</div>



</body>
</html>

<!-- 你的HTML代码 -->

<script src="js/layui.all.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        // layer.msg('Hello World');
    });
</script>
</body>
</html>
