<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>东东博客</title>
    <link rel="icon" href="/images/4.png" sizes="32x32">
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <style>
        body {
            background-image: url("images/spring.jpg");

        }
    </style>
    <script>
        document.oncontextmenu = new Function("return false;");
        function fuckyou(){
            window.close(); //关闭当前窗口(防抽)
            window.location="about:blank"; //将当前窗口跳转置空白页
        }
        function ck() {
            console.profile();
            console.profileEnd();
            //我们判断一下profiles里面有没有东西，如果有，肯定有人按F12了，没错！！
            if(console.clear) { console.clear() };
            if (typeof console.profiles =="object"){
                return console.profiles.length > 0;
            }
        }
        function hehe(){
            if( (window.console && (console.firebug || console.table && /firebug/i.test(console.table()) )) || (typeof opera == 'object' && typeof opera.postError == 'function' && console.profile.length > 0)){
                fuckyou();
            }
            if(typeof console.profiles =="object"&&console.profiles.length > 0){
                fuckyou();
            }
        }
        hehe();
        window.onresize = function(){
            if((window.outerHeight-window.innerHeight)>200)
//判断当前窗口内页高度和窗口高度，如果差值大于200，那么呵呵
                fuckyou();
        }
    </script>
</head>
<body>
<div class="visible-ls">
    <div th:insert="~{nav.html }"></div>

    <div style="margin-top: 100px; height: 100%">
        <div class="container">
            <div class="panel panel-info col-lg-8" style="height: 80%;">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <!--正文-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr/>
                        <h4><span th:text="${question.title}" style="font-size: 25px"></span></h4>

                        <hr/>

                        <!--                    正文-->

                        &nbsp;<span sid="textDesc"th:text="${description}" style="font-size: 20px;white-space: pre-line;"></span>

                            <hr/>



                            <hr/>
                    </div>

                </div>
            </div>
            <!--    //右-->
            <div class="panel panel-info col-lg-3" style="margin-left: 5%;height: 300px">
                <div class=" col-lg-12 ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br/>
                        <h3 style="font-size: 20px">发起人: <span th:text="${user.username}"></span></h3>
                        <span class="text-desc">

                    </span>

                    </div>

                    <!--相关问题-->
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<!--                        <ul class="question-related">-->
<!--                            <li th:each="related : ${relatedQuestions}">-->
<!--                                <a th:href="@{'/question/'+ ${related.id}}" th:text="${related.title}"></a>-->
<!--                            </li>-->
<!--                        </ul>-->
                        <div th:if="${ null != session.user} ">
                            <div th:if="${flag} eq '1'">
                                <a th:href="@{'/publish/'+ ${question.id}}" class="glyphicon glyphicon-edit" style="font-size: 15px" aria-hidden="true"></a>
                                <span style="font-size:20px">&nbsp;编辑</span>
                                <hr/>
                               <span style="font-size:20px">TIME:<span style="font-size:15px" th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                                <br/>
                                阅读数： <span style="font-size:20px" th:text="${question.viewCount}"></span>
                               </span>
                        </div>
                        </div>
                        <div th:if="${ null == session.user}">
                            <a href="/login"> 登陆修改</a>
                            发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                            <hr/>
                            阅读数： <span th:text="${question.viewCount}"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!---->
<div class="visible-xs">

</div>

</body>


<!-- 你的HTML代码 -->

<script src="/js/layui.all.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        // layer.msg('Hello World');
    });


</script>
<script type="text/javascript">
    var content = $("#textDesc").val();
    content = content.replace(/\n|\r\n/g,"<br>");
</script>

</html>
