<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta charset="utf-8">
    <title>东东博客</title>
    <link rel="icon" href="images/4.png" sizes="32x32">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


</head>
<body style="margin-left: 300px">
<table class="table table-bordered">
    <caption>边框表格布局</caption>
    <thead>
    <tr>
        <th>名称</th>
        <th>标题</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody th:each="q:${questions}">
    <tr>
        <td th:text="${q.title}"></td>
        <td th:text="${q.title}"></td>
        <td>560001</td>
    </tr>

    </tbody>
</table>





<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li th:each="page:${pageinfo.pages}" th:class="${pageinfo.page==page}?'active':''">
            <a
                    th:href="@{/selAllQuestion/(page=${page})}" th:text="${page}">


            </a>
        </li>


        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>


<script src="/js/layui.all.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        // layer.msg('Hello World');
    });



</script>

</body>

</html>
