<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta charset="utf-8">
    <title>选项卡组件</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/layui.css" media="all">

</head>
<body>


<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>名称</th>
        <th>标签</th>
<!--        <th>a</th>-->

    </tr>
    </thead>
    <tbody th:each="q:${questions}">
    <tr>
        <td th:text="${q.title}">贤心</td>
        <td th:text="${q.tag}">贤心</td>




<!--        <td><div class="layui-btn-group">-->
<!--            <button type="button" class="layui-btn">增加</button>-->
<!--            <button type="button" class="layui-btn">编辑</button>-->
<!--            <button type="button" class="layui-btn">删除</button>-->
<!--        </div></td>-->
    </tr>
    </tbody>
</table>

<div id="test1"></div>


<script src="js/layui.all.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        // layer.msg('Hello World');
    });

</script>

<script>
    //分页js
    layui.use('laypage', function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: 50 //数据总数，从服务端得到
            ,limit:5
        });
    });
</script>
</body>

</html>
